$primary-blue: #3B44F6;
$primary-blue-50: #767CF9;
$primary-blue-20: #D8DAFD;

$secondary-skyblue: #00D7FF;
$secondary-skyblue-50: #66E7FF;
$secondary-skyblue-20: #CCF7FF;

$natural-white: #FFFFFF;
$natural-white-50: #F5F4F9;
$natural-white-20: #A0A0A0;

$natural-black: #181818;
$natural-black-50: #323232;
$natural-black-20: #525252;

$natural-black-transparent: #18181879;
$natural-white-20-transparent: #7777778e;
$asmodeus-pink: #f2626f;
$asmodeus-red: #fc0303;