.header {
    z-index: 100;
    display: flex;
    gap: 10vw;
    flex-direction: row;
    height: 10vh;
    // overflow-wrap: break-word;
    align-items: center;
    justify-content: center;
    width: 100%;
    backdrop-filter: blur(4rem);
    position: fixed;
    &-title {
      transition: 0.5s;
      color: $natural-white;
      cursor: pointer;
    }

    &-title:hover {
      color: #ffffff;
      text-shadow: 0 0 5px #f2626f,
                  0 0 25px #fc0303,
                  0 0 50px #f2626f,
                  0 0 100px #fc0303;    }
}

.logo_link {
    margin: 2vh;
    position: relative;
    height: 10vh;
    min-width: 10vh;
    background: url(../images/AsmodeusLogo.png);
    background-size: cover;
    transition: 0.3s;
    z-index: 100;
    text-decoration: none;
}

.logo_link:hover {
  transform: scale(0.93);;
}

%header-title {
    // position: relative;
    // top: 5;
    // height: 12vh;
    // width: 12vh;
    color: $natural-white;
}

.plugins {
    position: relative;
    text-decoration: none;
    @extend %heading-3;
    @extend %header-title;
  }

.donations {
    position: relative;
    text-decoration: none;
    @extend %heading-3;
    @extend %header-title;
  }

.line {
  margin-top: 7;
  height: 10vh
}

.ip {
    @extend %heading-3;
    @extend %header-title;
    text-decoration: none;
    transition: 0.5s;
}

.donation_button {
  @extend %heading-3;
  @extend %header-title;
  position: relative;
  background: white;
  right: 170;
  width: 6vw;
  height: 12vh;
  border-color: $natural-white;
  color: $natural-white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
